.user-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &__name {
        font-weight: $font-weight;
    }

    & .gravatar {
        margin-right: 10px;
    }
}