.search {
    position: relative;
    display: flex;

    &__input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__btn {
        &.btn {
            height: 30px;
            width: 40px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &--close {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 25px;
        }
    }

    & .glyphicon {
        margin: 0 auto;
        font-size: $font-main-sz * 1.5;
        color: $light-color;
    }
}