.title {
    margin: 0;
    padding: 0;
    font-size: $font-main-sz * 1.3333333333333333;
    color: $title-color;

    &--item {
        margin-bottom: 20px;
        font-weight: $font-weight;
        line-height: $font-main-sz * 2;
    }
}