// colors

$light-color: #ffffff;
$darc-color: #4f4f4f;
$main-color: #555555;
$title-color: #aeaeae;
$danger-color: #a94442;

$bg-color: #f2f2f2;
$bg-header-color: #e1e1e1;
$icon-color: #c9c9c9;

$contrast-color: #8dc63f;
$accent-color: #2d9cdb;

//font

$font-main-sz: 12px;
$font-weight: 700;
$font-family-main: "Helvetica Neue", "Roboto", sans-serif;
$font-family-other: "Roboto", sans-serif;

// sizes

$avatar-sz: 30px;
