@import './variables';
@import './list/list';
@import './btn/btn';
@import './inputs/checkbox/checkbox';
@import './icon/icon';
@import './inputs/input/input';
@import './link/link';
@import './title';
@import './../styles/form/form';
@import './../styles/pop-up/pop-up';


@import '../components/Gravatar/gravatar.scss';
@import '../components/LectureItem/lecture-item.scss';
@import '../components/UserCardComponent/user-card.scss';
@import '../components/UserItem/user-item.scss';
@import '../components/UserDetailsComponent/user.scss';
@import '../components/SearchComponent/search.scss';
@import '../components/Header/header.scss';
@import '../components/NavMenu/nav-menu.scss';

// common styles

body {
    font-family: $font-family-main;
    font-size: 12px;
    line-height: $font-main-sz * 1.5;

    color: $main-color;
    background-color: $bg-color;
}

body {
    & .panel {
        border: none;
    }
}

.container-fluid {
    height: 100vh;
    background-color: $bg-color;
}

.main {
    margin: 25px 0;
}

.container {
    display: flex;
}

.glyphicon {
    color: $icon-color;
    margin-right: 10px;
}

.main-nav {
    &__item {
        &:hover,
        &:focus {
            color: $light-color;
            & .glyphicon {
                color: $light-color;
            }
        }

        &:active,
        &:active:focus {
            color: $light-color;

            & .glyphicon {
                color: $contrast-color;
            }
        }
    }
}


// service styles
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hidden {
    display: none;
}





.main-nav li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    color: $light-color;

    & .glyphicon {
        color: $contrast-color;
    }
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
      padding-top: 50px;
  }
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
      height: 100%;
      width: calc(25% - 20px);
  }
  .main-nav .navbar {
      border-radius: 0px;
      border-width: 0px;
      height: 100%;
  }
  .main-nav .navbar-header {
      float: none;
  }
  .main-nav .navbar-collapse {
      border-top: 1px solid #444;
      padding: 0px;
  }
  .main-nav .navbar ul {
      float: none;
  }
  .main-nav .navbar li {
      float: none;
      font-size: 15px;
      margin: 6px;
  }
  .main-nav .navbar li a {
      padding: 10px 16px;
      border-radius: 4px;
  }
  .main-nav .navbar a {
      /* If a menu item's text is too long, truncate it */
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}


.center{
    background-color: #555555;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 1rem;
}

.card > form{
    display: flex;
    flex-direction: column;
}