.btn {
    min-width: 132px;
    font-size: calc($font-main-sz * 0.8571428571428571);
    color: $light-color;
    background-color: $contrast-color;
    border-radius: 50%;
    box-shadow: none;

    &:hover,
    &:focus {
        color: $light-color;
        background-color: $contrast-color * 1.1;
        border: none;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    &:active {
        color: $light-color;
        background-color: $contrast-color * 0.8;
        box-shadow: none;
        border: none;
    }

    &--search {
        min-width: 20px;

        &:hover{
            background-color: $contrast-color * 1.1;
            box-shadow: none;
        }

        &:active,
        &:focus {
            background-color: $contrast-color * 0.8;
            box-shadow: none;
        }
    }

    &--close {
        &:hover .icon--close::after,
        &:hover .icon--close::before {
            background-color: $contrast-color;
        }

        &:active .icon--close::after,
        &:active .icon--close::before,
        &:focus .icon--close::after, 
        &:focus .icon--close::before {
            background-color: $contrast-color * 0.8;
        }
    }

    &--icon {
        min-width: 20px;
        color: $icon-color;
        background-color: transparent;

        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
            box-shadow: none;
        }

        &:hover .glyphicon {
            color: $contrast-color;
        }

        &:active .glyphicon,
        &:focus .glyphicon {
            color: $contrast-color * 0.8;
        }
    }

    &--clear {
        color: $contrast-color;
        background-color: transparent;
    }
}

button.btn:active,
button.btn:hover,
button.btn:focus,
button.btn:focus:active {
    color: $light-color;
    outline: none;
}

button.btn:focus:active {
    box-shadow: none;
}

button.btn {
    margin: 0;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;

    &--icon,
    &--search,
    &--close {
        padding: 0;
    }

    &--clear {
        border: 2px solid $contrast-color;
    }
}