.icon {
    &--close {
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 14px;
            height: 2px;

            background-color: $icon-color;
            border-radius: 1px;
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }
}