.gravatar {
    position: relative;
    overflow: hidden;
    text-align: center;

    font-weight: $font-weight;


    border-radius: 50%;
    background-color: $icon-color;

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;

        transform: translate(-50%, -50%);
    }

    &--small {
        width: $avatar-sz;
        height: $avatar-sz;
        font-size: $font-main-sz;
    }

  &--middle {
    width: 2 * $avatar-sz;
    height: 2 * $avatar-sz;
    font-size: 1.5 * $font-main-sz;
  }

  &--large {
    width: 4 * $avatar-sz;
    height: 4 * $avatar-sz;
    font-size: 3 * $font-main-sz;
  }

  &__literals {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $light-color;
    background-color: $contrast-color;

    &-contrast {
      color: $contrast-color;
      background-color: $light-color;
    }
  }
}