.lecture {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__description {
        margin-right: 30px;
    }

    &__text {
        font-size: $font-main-sz;
        font-weight: $font-weight;
    }

    &__info {
        display: flex;
        flex-direction: column;
        min-width: 150px;

        & > * {
            margin-bottom: 10px;
        }

        & > *:first-child {
            margin-bottom: 25px;
        }
    }
}