// .nav {
//     // display: flex;
//     // flex-wrap: wrap;
//     // flex-direction: column;

//     &__item {
//         &--out {
//             margin-top: 270px;
//         }
//     }
// }

.main-nav {
    &__user {
        margin-top: 60px;
        padding: 10px 25px;

        color: $light-color;
        font-size: $font-main-sz * 1.5;
        font-weight: 700;

        &-email {
            color: $contrast-color;
            font-family: $font-family-other;
            font-size: $font-main-sz * 1.3333333;
            font-weight: 400;
        }
    }
}

.nav {
    margin-top: 75px;
}

li.nav__item--out {
    margin-top: 370px !important;
}