.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;
        padding: 15px;

        border-radius: 5px;
        background-color: $light-color;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }

    &__content {
        margin-right :30px;
        flex-grow: 1;
    }

    &__btn-container {
        display: flex;
        flex-wrap: nowrap;
    }

    &__btn:first-child {
        margin-right: 15px;
    }
}

label.list__label {
    margin-right :20px;
}