.header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // background-color: $bg-header-color;
    // box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}