.user-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    &__contacts {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__name {
        min-width: 250px;
        margin-right: 10px;
    }

    &__email {
        text-transform: uppercase;

        &.link {
            font-size: $font-main-sz * 1.3333333;
            color: $title-color;
        }
    }
}

@media (max-width: 800px) {
    .user-item {
        &__name {
            min-width: 150px;
        }
    }
}