.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    &__input {
        display: none;
        margin: 0;
        
        &-custom {
            width: 14px;
            height: 14px;
    
            cursor: pointer;
            border: 2px solid $icon-color;
            border-radius: 2px;
            background-color: $light-color;
        }
    
        &:checked + &-custom {
            background-color: $contrast-color;
        }
    }
}

label.checkbox {
    display: flex;
}
