.input,
.textarea {
    padding: 7px 12px;

    color: $title-color;
    font-size: $font-main-sz * 1.2;
    font-family: $font-family-main;

    background-color: $light-color;
    border: 1px solid $icon-color;
    border-radius: 2px;

    &::-webkit-input-placeholder {
        color: $bg-color;
        font-style: italic;
    }
    &:-moz-placeholder {
        color: $bg-color;
        font-style: italic;
    }

    &:active,
    &:focus {
        border-color: $contrast-color;
        outline: none;
    }
}

.input {
    height: 30px;
}