.container-veil {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.45);
}

.pop-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 200px;
    min-width: 420px;

    border-radius: 5px;
    background-color: $light-color;

    &__text {
        margin: 0;
        text-align: center;
        font-size: $font-main-sz * 1.3333333333333333;
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }

    &__btn {

        &:first-child {
            margin-right: 30px;
        }
    }

    & .glyphicon {
        display: block;
        text-align: center;
        font-size: 100px;
        color: $contrast-color;

        &:first-child {
            margin-bottom: 20px;
        }
    }
}