.form {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 458px;

    &__label {
        margin-top: 30px;
        margin-bottom: 10px;
        width: 100%;

        font-size: $font-main-sz;
        color: $darc-color;
    }

    &__textarea,
    &__input,
    &__select {
        width: 100%;
    }

    &__link {
        float: right;
    }

    &__date-lecture {
        display: flex;
        justify-content: flex-start;

        & .form__label {
            flex-basis: 80px;
            margin-right: 30px;

            &:first-child {
                flex-basis:  170px;
            }
        }
    }

    &__name {
        margin: 0;
        padding: 0;
    }

    &__buttons {
        margin-top: 165px;
        float: right;
    }

    &__btn {
        &:first-child {
            margin-right: 30px;
        }
    }
}

.has-error {
    color: $danger-color;
}

.is-invalid {
    border-color: $danger-color;
}