a.link {
    font-size: $font-main-sz * 0.8571428571428571;
    text-decoration: none;
    color: $accent-color;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: $accent-color;
    }

    &--title {
        font-size: $font-main-sz * 1.3333333333333333;
        color: $darc-color;

        &:hover,
        &:focus {
            color: $contrast-color;
            text-decoration: none;
        }

        &:active {
            color: $contrast-color * 0.8;
        }
    }
}

